.GRAPH{
    DISPLAY: flex;
    align-items: center;
    justify-content: center;
    height: 81%;
    width: 38rem;
}
   

   

.line{
    box-sizing: border-box;
    display: block;
    height: 359px;
    width: 608px;
}

@media (max-width: 768px) {
    .GRAPH {
      height: 80%;
      width: 100%;
    }
  
    .line {
      max-height: 300px; /* Adjust the maximum height as needed for mobile */
      max-width: 100%; /* Take full width of the container */
      width: 100%; /* Ensure it takes full width */
    }
  }